.blogList li {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    margin-bottom: 16px;
}

.blogList img {
    width: 380px;
    height: 220px;
    margin-bottom: 0;
}

.blogList a {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: -3px;
}

.blog__p {
    font-size: 18px;
    line-height: 25px;
}

.blog__data {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    margin-bottom: 8px;
}

.blog__opacity:hover,
.blog__opacity:active {
    text-decoration: underline solid #1E0606;;
}