.footer {
  background: #434343;
}

.footerList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footerTitleBorder {
  padding-bottom: 23px;
  border-bottom: 1px solid #666666;
}

.footer .fonts {
  color: #AAAAAA;
  margin-bottom: 50px;
  margin-top: 100px;
}

.footerText {
  margin-top: -23px;
}

.footerForm div {
  display: inline-block;
}

.footer a , .text {
  color: #FFFFFF;
}

.footer .Ablack {
  color: #A2A2A2;
}

.footerText li {
  margin-bottom: 15px;
}

.additionaly1,
.additionaly2,
.additionaly3 {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.EmailSpan {
  font-size: 0;
}

.EmailInput {
  background: #666666;
  padding: 5px 13px;
  margin-right: 0;
  border: none;
  width: 280px;
  height: 29px;
}

.emailButton {
  margin-left: -20px;
  width: 81px;
  height: 40px;
}

.footerSochil {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.footerSochil li {
  margin-right: 10px;
}

.footerList2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  border-top: 1px solid #666666;
  padding-bottom: 85px;
}

.footerdivWidth {
  width: 380px;
}

.EmailInput:hover,
.EmailInput:focus {
  border: 1px solid #FFFDFD;
  height: 27px;
}

.footerOpacity:hover,
.footerOpacity:focus {
  opacity: 0.5;
}

.footerOpacity:active {
  opacity: 0.2;
}

.footerList2 .footerdivWidth a:hover,
.footerList2 .footerdivWidth a:active {
  text-decoration: underline solid #FFFFFF;
  color: #FFFFFF;
}
