.footer {
  background: #434343;
}

.footer__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer__p_border {
  padding-bottom: 23px;
  border-bottom: 1px solid #666666;
}

.footer .footer__p {
  color: #AAAAAA;
  margin-bottom: 50px;
  margin-top: 100px;
}

.footer__form div {
  display: inline-block;
}

.footer a , .text {
  color: #FFFFFF;
}

.footer .Ablack {
  color: #A2A2A2;
}

.footer__text li {
  margin-bottom: 35px;
  margin-top: -20px;
}

.footer__additionaly1,
.footer__additionaly2,
.footer__additionaly3 {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.email__span {
  font-size: 0;
}

.Email__input {
  background: #666666;
  padding: 10px 13px;
  margin-right: 0;
  border: none;
  width: 280px;
  height: 37px;
}

.button_email {
  margin-left: -20px;
  width: 81px;
  height: 40px;
}

.footer__email {
  margin-top: -25px;
}

.footer__sochil {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer__sochil li {
  margin-right: 10px;
}

.footer__list2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #666666;
  padding-top: 5px;
  margin-top: -15px;
  padding-bottom: 85px;
}

.footer__div {
  width: 380px;
}

.Email__input:hover,
.Email__input:focus {
  border: 1px solid #FFFDFD;
  height: 36px;
}

.footer_opacity:hover,
.footer_opacity:focus {
  opacity: 0.5;
}

.footer_opacity:active {
  opacity: 0.2;
}

.footer__list2 .footer__div a:hover,
.footer__list2 .footer__div a:active {
  text-decoration: underline solid #FFFFFF;
  color: #FFFFFF;
}
