.toysList {
    transition: 0.4s;
    & li {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 33%;
    }
    & img {
        width: 100%;
        height: 100%;
        margin-bottom: 25px;
    }
    & a {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        margin-top: 0;
        text-transform: uppercase;
    }
    & p {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
}

.toys_opacity {
    position: relative;
}

.toys_opacity:hover::after,
.toys_opacity:active::after {
    content: 'LEARN MORE';
    padding: 25% 5% 25% 5%;
    position: absolute;
    background: #E5EAF8;
    left: 19.5%;
    top: 20%;
    z-index: 1;
    @extend %montserrat;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.9;
}


.toys_opacity:active::after {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .toysList {
        transition: 0.4s;
        & li {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    .toys_opacity:hover::after,
    .toys_opacity:active::after {
        padding: 20% 4% 20% 4%;
        left: 12%;
        top: 15%;
        font-size: 18px;
        line-height: 22px;
        width: 80%;
    }
}

@media screen and (max-width: 567px) {
    .toysList {
        transition: 0.4s;
        & li {
            width: 45%;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    .toys_opacity:hover::after,
    .toys_opacity:active::after {
        padding: 20% 4% 20% 4%;
        left: 15%;
        top: 15%;
        font-size: 18px;
        line-height: 22px;
        width: 70%;
    }
}