.toysList {
    & li {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    & img {
        width: 380px;
        height: 385px;
        margin-bottom: 25px;
    }
    & a {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        margin-top: 0;
        text-transform: uppercase;
    }
    & p {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
}

.toys_opacity {
    position: relative;
}

.toys_opacity:hover::after,
.toys_opacity:active::after {
    content: 'LEARN MORE';
    padding: 82px 12px 96px 11px;
    position: absolute;
    background: #E5EAF8;
    left: 89px;
    top: 87px;
    z-index: 1;
    @extend %montserrat;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.9;
}


.toys_opacity:active::after {
    opacity: 0.6;
}