body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.italic {
    font-family: 'Crimson Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
}

.title_montserrat {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 0px;
    padding-top: 15px;
    text-transform: uppercase;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #1E0606;
}

.header_opasity:hover,
.header_opasity:focus {
    opacity: 0.5;
}

.header_opasity:active {
    opacity: 0.2;
}

.header {
    display: flex;
    align-items: center;
    margin: 50px auto;
    margin-bottom: 41px;
}

.header__contact {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-left: 28px;
}

.header .header__menu {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
}

.header nav {
    margin: 0 auto 0 60px;
}

.header__menu a{
    margin-right: 20px;
}

.title_hidden {
    width: 0;
    height: 0;
    font-size: 0;
    margin: 0;
    padding: 0; 
    line-height: 0;
}

.undotted {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.button {
    background: #000000;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 9px 22px;
}

.button:hover,
.button:focus {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
    background: #C7C1C1;
}

.footer__additionaly1 p {
    margin-right: 25px;
}

.footer__additionaly1:hover::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/group2.png');
    width: 97px;
    height: 16px;
    top: 19px;
    left: 146px;
}

.footer__additionaly1:hover p {
    color: #C29974;
}

/* Навигация */

.navigation_div {
    margin-top: -6px;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.navigation_div a {
    margin-right: 46px;
}

.navigation_div p {
    color: #8E8282;
}

.navigation__pseudo {
    position: relative;
}

.navigation__pseudo::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/navigation/arrow.svg');
    right: -27px;
    top: 7px;
    width: 8px;
    height: 12px;
}

/* Page */

.page {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.page a {
    margin-right: 32px;
    margin-left: 33px;
}

.page_opacity_checked {
    color: #C29974;
}

.page_opacity:hover,
.page_opacity:focus {
    opacity: 0.5;
}

.button_page_left , .button_page_right {
    display: block;
    border: none;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    width: 16px;
    height: 30px;
    cursor: pointer;
}

.button_page_left {
    background-image: url('../img/button/pbtnl.svg');
    margin-right: auto;
    margin-left: 0;
}

.button_page_right {
    background-image: url('../img/button/pbynr.svg');
    margin-right: 0;
    margin-left: auto;
}

/* Критерии */

.BcgIMG {
    background: #E1F0F7;
}

.button_page_right:hover,
.button_page_right:focus {
    background-image: url('../img/button/arrowrighthover.svg');
    margin-right: 0;
    margin-left: auto;
}

.button_page_left:hover,
.button_page_left:focus{
    background-image: url('../img/button/arrowlefthover.svg');
    margin-right: auto;
    margin-left: 0;
}

.button_page_right:hover:active,
.button_page_left:hover:active {
    opacity: 0.6;
}

.listcategory__a:active,
.listcategory__a:hover,
.listcategory__a:focus {
    text-decoration: underline solid #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.popup {
    z-index: 5;
}