%montserrat {font-family: 'Montserrat'; font-weight: 700}
%content {content: ''; display: block; position: absolute}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.italic {
    font-family: 'Crimson Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.title{
    @extend %montserrat;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    &_search {
        font-weight: 700;
        margin-bottom: 15px;
    }
    &_banner {
        @extend %montserrat;
        font-size: 40px;
        line-height: 110%;
        color: #1E0606;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    &_contact {
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 0px;
    }
    &_montserrat {
        @extend %montserrat;
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 0px;
        padding-top: 15px;
        text-transform: uppercase;
    }
    &_hidden {
        width: 0;
        height: 0;
        font-size: 0;
        margin: 0;
        padding: 0; 
        line-height: 0;
    }
    &_blog {
        @extend %montserrat;
        font-size: 40px;
        line-height: 49px;
        text-transform: uppercase;
        margin-bottom: 0px;
        padding-top: 15px;
        @media screen and (max-width: 768px) {
            font-size: 36px;
            line-height: 44px;
        }
        @media screen and (max-width: 567px) {
            font-size: 24px;
            line-height: 29px;
        }
    }
}

.marginTop {
    margin-top: 30px;
}

fieldset{
    border: none;
}

a {
    text-decoration: none;
    color: #1E0606;
}

.undotted {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.button {
    background: #000000;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 9px 22px;
    transition: 0.4s;
    &:active {
        background: #CFAF91;
    }
    &:disabled {
        background: #C7C1C1;
    }
    &_search {
        margin-left: 58px;
        margin-top: 37px;
    }
}

.line_page_right {
    width: 100%;
    height: 100%;
    opacity: 12%;
    margin: auto;
    margin-right: 0;
    stroke: #1E0606;
}

.line_page_left {
    width: 100%;
    height: 100%;
    opacity: 12%;
    margin: auto;
    margin-left: 0;
    stroke: #1E0606;
}

.line_page_right:hover {
    opacity: 100%;
    stroke: #C29974;
}

.line_page_left:hover {
    opacity: 100%;
    stroke: #C29974;
}

.line_page_right:active {
    opacity: 70%;
    stroke: #C29974;
}

.line_page_left:active {
    opacity: 70%;
    stroke: #C29974;
}

.button:hover,
.button:focus {
    background: #C29974;
}

/* Навигация */

.navigation {
    margin-bottom: 60px;
    transition: 0.4s;
    &_div {
        margin-top: -6px;
        display: flex;
        align-items: center;
        margin-bottom: 28px;
    }
    &_div a {
        margin-right: 46px;
    }
    &_div p {
        color: #8E8282;
    }  
    &__pseudo {
        position: relative;
    }
    &__pseudo::after {
        @extend %content;
        background-image: url('../img/navigation/arrow.svg');
        right: -27px;
        top: 7px;
        width: 8px;
        height: 12px;
    }
}

/* Критерии */

.BcgIMG {
    background: #E1F0F7;
}

.listcategory__a:active,
.listcategory__a:hover,
.listcategory__a:focus {
    text-decoration: underline solid #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.popup {
    z-index: 5;
    transition: 0.4s;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(125, 151, 218, 0.8);
    display: none;
    transition: 0.4s;
}

.popupOpen {
    display: flex;
    transition: 0.4s;
}

.formPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupClose {
    border: none;
    background: transparent;
    position: absolute;
    right: 25%;
    top: 15%;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
    &:active {
        opacity: 0.2;
    }
    @media screen and (max-width: 768px) {
        right: 6%;
        top: 8%;
    }
    @media screen and (max-width: 567px) {
        right: 10%;
        top: 8%;
    }
}

/* Page */

.page_opacity_checked {
    color: #C29974;
    transition: 0.4s;
}

.page a {
    @extend %montserrat;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 32px;
    margin-left: 33px;
    @media screen and (max-width: 567px) {
        font-size: 14px;
        line-height: 17px;
    }
}

.page_opacity:hover,
.page_opacity:focus {
    opacity: 0.5;
    transition: 0.4s;
}

.line_page_left , .line_page_right {
    display: block;
    border: none;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    width: 16px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.page {
    @extend %montserrat;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    
    .title_montserrat {
        font-size: 24px;
        line-height: 29px;
    }

    .italic {
        font-size: 20px;
        line-height: 26px;
    }

    .navigation { 
        &__pseudo::after {
        background-size: 100%;
        width: 8px;
        height: 12px;
        }
    }
}

@media screen and (max-width: 567px) {
    .title_montserrat {
        font-size: 24px;
        line-height: 29px;
    }

    .italic {
        font-size: 16px;
        line-height: 21px;
    }

    .navigation { 
        &__pseudo::after {
        background-size: 100%;
        width: 6px;
        height: 9px;
        }
    }
}