
.titlecontact {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 0px;
}

.contactBlock {
    display: flex;
    margin-bottom: 60px;
}

.contactText {
    margin-left: 120px;
    margin-top: -15px;
}

.textarea {
    max-height: 140px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    resize: none;
}

.textContactSmall {
    margin-bottom: 20px;
}

.texContactBig {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
    margin-top: 0;
}