%lato_bold {font-weight: 700}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 1505px;
    font-family: 'Lato';
    font-weight: 500;
    &__column {
        &_1 {
            position: relative;
            background: #FFFFFF;
            grid-column: 1/3;
            grid-row: 1/3;
            & .column-content_1 {
                position: absolute;
                width: 35%;
                left: 10%
            }
            & .p_1 {
                @extend %lato_bold;
                font-size: 12px;
                line-height: 14px;
                color: #BCBCBE;
            }
            & a {
                font-size: 22px;
                line-height: 26px;
                color: #2C3036;
            }
            & .p_2 {
                @extend %lato_bold;
                font-size: 14px;
                line-height: 17px;
                color: #BCBCBE;
            }
            & .img-column_1 {
                position: absolute;
                bottom: 0;
                right: 10%;
            }
        }    
        &_2 {
            background: #F7F8FA;
            grid-column: 3/5;
            grid-row: 1/3;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            & .p_1 {
                @extend %lato_bold;
                font-size: 12px;
                line-height: 14px;
                color: #BCBCBE;
                margin-bottom: -5%;
            }
            & .p_2 {
                @extend %lato_bold;
                font-size: 48px;
                line-height: 58px;
                text-align: center;
                color: #2C3036;
                width: 60%;
                margin-bottom: 10px;
            }
            & a {
                font-size: 14px;
                line-height: 17px;
                text-decoration-line: underline;
                color: #2198F4;
            }
        }
        &_3 {
            position: relative;
            background: #EF5539;
            grid-column: 1/2;
            grid-row: 3/5;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            & p {
                @extend %lato_bold;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                color: #FFFFFF;
                width: 70%;
                padding-top: 20%
            }
            & a {
                @extend %lato_bold;
                font-size: 12px;
                line-height: 14px;
                color: #FFC80A;
            }
            & .img-column_3 {
                position: absolute;
                top: 10%;
            }
        }
        &_4 {
            background: #FFFFFF;
            grid-column: 2/4;
            grid-row: 3/5;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            position: relative;
            & .column-div_4 {
                margin-left: 10%;
                margin-right: 20%;
                width: 100%;
            }
            & .p_1 {
                @extend %lato_bold;
                font-size: 12px;
                line-height: 14px;
                color: #BCBCBE;
            }
            & .p_2 {
                font-size: 22px;
                line-height: 26px;
                color: #2C3036;
            }
            & .p_3 {
                font-size: 14px;
                line-height: 17px;
                color: #BCBCBE;
                width: 70%;
                margin-right: 0;
                margin-top: 20%;
            }
            & a {
                @extend %lato_bold;
                font-size: 12px;
                line-height: 14px;
                color: #2198F4;
            }
            & .img-column_4 {
                position: absolute;
                bottom: 0%;
                left: 0;
            }
        }
        &_5 {
            background: #8F75BC;
            grid-column: 4/5;
            grid-row: 3/7;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: end;
            position: relative;
            & .p_1 {
                @extend %lato_bold;
                font-size: 32px;
                line-height: 38px;
                color: #FFFFFF;
            }
            & .p_2 {
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #FFFFFF;
                margin-top: 0;
                width: 65%;
                margin-bottom: 10%;
            }
            & .button-column_5 {
                @extend %lato_bold;
                font-size: 12px;
                line-height: 14px;
                color: #2C3036;
                margin-bottom: 45%;
                background: #FFC80C;
                border-radius: 27px;
                border: #FFC80C;
                padding: 19px 41px;
            }
            & .img-column_5 {
                position: absolute;
                top: 10%;
                left: 10%;
            }
        }
        &_6 {
            position: relative;
            background: #93B7B7;
            grid-column: 1/3;
            grid-row: 5/7;
            display: flex;
            justify-content: center;
            & .button-column_6 {
                display: block;
                position: absolute;
                top: 5%;
                left: 2%;
                background: #FA684F;
                border-radius: 3px;
                border: #FA684F;
                font-size: 8px;
                line-height: 10px;
                text-align: center;
                color: #FFFFFF;
            }
            & a {
                @extend %lato_bold;
                margin-top: 7%;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                color: #FFFFFF;
                width: 40%;
            }
            & .img-column_6 {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &_7 {
            background: #F7F8FA;
            grid-column: 3/4;
            grid-row: 5/7;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            & p {
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                color: #2C3036;
            }
            & a {
                @extend %lato_bold;
                font-size: 12px;
                line-height: 14px;
                color: #2198F4;
                margin-bottom: 30%;
            }
            & .img-column_7 {
                position: absolute;
                top: 10%;
                left: 10%;
            }
        }
        &_8 {
            position: relative;
            background: #F7F8FA;
            grid-column: 1/2;
            grid-row: 7/8;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            & a {
                @extend %lato_bold;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                color: #2C3036;
                margin-bottom: 15%;
            }
            & .img-column_8 {
                position: absolute;
                top: 25%;
            }
        }
        &_9 {
            background: #2C2C2C;
            grid-column: 2/5;
            grid-row: 7/8;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            & a {
                font-size: 22px;
                line-height: 26px;
                color: #FFFFFF;
                width: 20%;
                margin-left: 20%;
            }
            & .img-column_9 {
                position: absolute;
                top: 0;
                left: 10%;
            }
        }
    }
}