.banner {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 32px;
    &__page {
        margin-left: 31px;
        margin-top: -125px;
    }
    &__button {
        display: block;
        width: 31px;
        height: 3px;
        border: none;
        background: #D6CAC2;
        margin-bottom: 11px;
        padding: 0px;
    }
    &__page p {
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 60px;
        margin-bottom: 27px;
        opacity: 0.1;
        margin-top: 30px;
    }
    &__content{
        margin-left:41px;
        margin-top: 70px;
        width: 100%;
    }
    &__text {
        margin: 18px auto;
    }
    &__Img{
        margin-right: 100px;
        display: flex;
        align-items: flex-end;
    }
    &__text2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        text-align: center;
        background: #C29974;
        color: #FFFFFF;
        padding: 12px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: 95px;
    }
}



.category__page {
    @extend .banner
}

.bannerZindex {
    z-index: 5;
}

.bannerSection{
    position: relative;
}

.bannerSection::after {
    content: '';
    display: block;
    position: absolute;
    background: #EEE4DB;
    width: 1180px;
    height: 369px;
    top: 82px;
    left: 0;
    z-index: 0;
}

.banner__page  button:active,
.banner__page  button:hover,
.ButtonChecked {
    background: #715F5B;
}

.textbottom {
    margin-bottom: 90px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.serviseW {
    width: 95%;
}

.listcategory {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.listcategory a {
    display: block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.listcategory li:nth-child(1) {
    background: #DBE4DB;
    padding: 104px 30px;
    padding-left: 45px;
    background-image: url('../img/sweater.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 244px 177px;
    margin-right: 20px;
}

.listcategory li:nth-child(2) {
    background: #EADDD3;
    padding: 103px 34px;
    padding-left: 42px;
    background-image: url('../img/sock.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}


.listcategory li:nth-child(3) {
    background: #F8F2DA;
    padding: 120px 103px;
    background-image: url('../img/animal.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}


.listcategory li:nth-child(4) {
    background: #D5D4E1;
    padding: 120px 45px;
    background-image: url('../img/pursone.png');
    background-position: center;
    background-repeat: no-repeat;
}

.category__button1 {
    background: #E2F1F8;
    padding: 17px;
    background-image: url('../img/button/button-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.category__button2 {
    background: #E2F1F8;
    padding: 17px;
    background-image: url('../img/button/button.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.textbottom p {
    margin-top: 0;
    margin-left: 22px;
    margin-bottom: 0;
    height: 100%;
    width: 50%;
}

.textbottom {
    margin-top: 28px;
}

.delivery {
    display: flex;
    align-items: flex-start;
    margin-bottom: 90px;
    &__Img {
        margin-right: 120px;
    }
    &__Text {
        width: 82%;
        margin-bottom: 15px;
    }
}

.deliverylist {
    margin-top: -32px;
    &__title {
        margin-bottom: 8px;
    }
    &__titls{
        font-family: 'Crimson Text';
        font-weight: 400;
        font-size: 26px;
        line-height: 34px;
        display: block;
        width: 180px;
        margin-left: -60px;
        padding-left: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.two {
    margin-bottom: 40px;
}

.deliverylist__titls:active,
.deliveryChecked,
.deliverylist__titls:hover {
    display: block;
    font-weight: 700;
    padding-right: 260px;
    background: #E2F1F8;
}

.awards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    margin-left: -125px;
}

.awards img {
    margin-left: 127px;
}

.doubleSection {
    display: flex;
    justify-content: center;
    margin-bottom: 43px;
    &__div1 {
        margin-left: 30px;
    }
}

.doubleText {
    width: 73%;
}

.innerdiv1 .doubleText {
    margin-bottom: 30px;
    margin-top: 0;
}

.innerdiv1 {
    background: #E1F0F7;
    padding-bottom: 35px;
    margin-top: -55px;
    margin-left: -30px;
    margin-right: 60px;
    &_text {
        font-weight: 400;
        font-size: 26px;
        margin-top: 7px;
        margin-bottom: 15px;
    }
    &__content {
        padding-top: 30px;
        padding-left: 30px;
        width: 127%;
    }
}

.innerdiv2 {
    background: #E1F0F7;
    margin-top: -55px;
    padding-bottom: 85px;
    margin-left: -10px;
    &__content {
        padding-top: 30px;
        padding-left: 25px;
        width: 520px;
    }
    &__contentText {
        width: 93%;
    }
}

.doubleSection__div2 h2 {
    margin-left: 20px;
}

.doubleSection__div2 .BcgIMG {
    margin-left: 30px;
    margin-top: -70px;
    margin-right: 60px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(125, 151, 218, 0.8);
    display: none;
}

.popupOpen {
    display: flex;
}

.formPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupClose {
    border: none;
    background: transparent;
    position: absolute;
    right: 25%;
    top: 14%;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
    &:active {
        opacity: 0.2;
    }
}