.search {
    background: #E5EAF8;
    height: 256px;
    transition: 0.4s;
    &_section {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 43px;
        padding-bottom: 28px;
    }
}

.cost {
    margin-top: -16px;
    width: 207px;
    margin-right: 94px;
    transition: 0.4s;
}

.number {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    transition: 0.4s;
    &::before {
        @extend %content;
        width: 188px;
        height: 4px;
        top: -5px;
        left: 6px;
        background: #72757C;
    }
    &::after {
        @extend %content;
        width: 46px;
        height: 4px;
        top: -5px;
        left: 6px;
        background: #C29974;
    }
    &__p {
        position: relative;
    }
    &__p::before {
        @extend %content;
        width: 24px;
        height: 24px;
        top: -31px;
        left: 40px;
        background: #C29974;
        border-radius: 60px;
    }
    &__p::after {
        @extend %content;
        width: 8px;
        height: 8px;
        top: -23px;
        left: 48px;
        background: #FFFFFF;
        border-radius: 60px;
        z-index: 1;
    }
}

.color {
    width: 100px;
    margin-right: 95px;
    &__list li {
        margin-bottom: 15px;
    }
    margin-left: -10px;
}

.checkbox__span {
    padding-left: 30px;
}

.radio_input {
    display: none;
}

.radio_span {
    position: relative;
    cursor: pointer;
    padding-left: 32px;
}

.radio_span::before {
    @extend %content;
    width: 17px;
    height: 17px;
    border: 2px solid #C29974;
    border-radius: 50px;
    background: transparent;
    top: 0;
    left: 0;
}

.radio_span::after {
    @extend %content;
    width: 10px;
    height: 10px;
    background: #C29974;
    border-radius: 50px;
    left: 3px;
    top: 4px;
    opacity: 0;
}

.radio_input:checked + .radio_span::after {
    opacity: 1;
}

.search__delivery_radio li {
    margin-bottom: 10px;
}

.search__delivery {
    margin-right: 67px;
}

.amount {
    display: flex;
    margin-top: 7px;
    transition: 0.4s;
    &__input {
        display: none;
    }
    &__span {
        position: relative;
        cursor: pointer;
        z-index: 1;
    }
    &__span::before {
        @extend %content;
        width: 80px;
        height: 36px;
        background: #FFFFFF;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__span::after {
        @extend %content;
        width: 80px;
        height: 36px;
        background: #F3D0DB;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
    }
    &__span:hover {
        background: #F3D0DB;
        opacity: 0.5;
    }
    &__block {
        margin-left: -24px;
    }
}

.amount__label1 .amount__span {
    padding: 7px 28px;
}

.amount__label2 .amount__span, 
.radio_label3 .amount__span {
    padding: 7px 19px;
}

.amount__input:checked + .amount__span::after {
    opacity: 1;
}

.toysList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    transition: 0.4s;
}