<footer class="footer">
  <div>
      <div class="footer__list container">
          <div class="footer__div">
              <p class="footer__p footer__p_border">Navigation</p>
              <ul class="undotted footer__text">
                  <li class="footer_opacity">
                      <a href="#">About Us</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Blog</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Design Services</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Featured On</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">2018 Holiday Catalog</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Shop By Designer</a>
                  </li>
              </ul>
          </div> 
          <div class="footer__div">
              <p class="footer__p footer__p_border">Customer Information</p>
              <ul class="undotted footer__text footer__text_top">
                  <li class="footer_opacity">
                      <a href="#">Contact Us</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Sale Exclusions</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Shipping & Returns</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Terms & Conditions</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Privacy Policy</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Search</a>
                  </li>
              </ul>
          </div>
          <div class="footer__div">
              <p class="footer__p footer__p_border">Connect</p>
              <div class="footer__email">
                  <form action="#" class="footer__form">
                      <div>
                          <div>
                              <label class="">
                                  <span class="email__span">Email</span>
                                  <input type="text" class="Email__input" placeholder="Email">
                              </label>
                          </div>
                      </div>
                      <div>
                          <button class="button button_email" type="submit">Join</button>
                      </div>
                  </form> 
              </div>
              <ul class="undotted footer__sochil">
                  <li class="footer_opacity">
                      <a href="#">
                          <img src="img/socil/facebook.svg" alt="" width="30" height="30">
                      </a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">
                          <img src="img/socil/twitter.svg" alt="" width="30" height="30">
                      </a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">
                          <img src="img/socil/pinterest.svg" alt="" width="30" height="30">
                      </a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">
                          <img src="img/socil/instagram.svg" alt="" width="30" height="30">
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="footer__list2 container">
          <div class="footer__additionaly1 footer__div wight">
              <p class="text">Company Rating</p>
              <div class="svg">
                <svg width="12.97" hight="12.43"  viewBox="0 0 12.97 12.43">
                    <path class="p_1" d="M 5.61 0.93, 4.54 4.22, 1.08 4.22
                            C 0.11 4.22 -0.29 5.46 0.49 6.03
                            L 3.29 8.06 2.22 11.35
                            C 1.92 12.28 2.98 13.04 3.76 12.47
                            L 6.56 10.44 9.36 12.47
                            C 10.14 13.04 11.2 12.28 10.9 11.35
                            L 9.83 8.06 12.63 6.03
                            C 13.41 5.46 13.01 4.22 12.04 4.22
                            L 8.58 4.22 7.51 0.93
                            C 7.21 0.01 5.91 0.01 5.61 0.93 Z" fill="#FFFFFF" />
                  </svg>
                  <svg width="12.97" hight="12.43" viewBox="0 0 12.97 12.43">
                    <path class="p_2" d="M 5.61 0.93, 4.54 4.22, 1.08 4.22
                            C 0.11 4.22 -0.29 5.46 0.49 6.03
                            L 3.29 8.06 2.22 11.35
                            C 1.92 12.28 2.98 13.04 3.76 12.47
                            L 6.56 10.44 9.36 12.47
                            C 10.14 13.04 11.2 12.28 10.9 11.35
                            L 9.83 8.06 12.63 6.03
                            C 13.41 5.46 13.01 4.22 12.04 4.22
                            L 8.58 4.22 7.51 0.93
                            C 7.21 0.01 5.91 0.01 5.61 0.93 Z" fill="#FFFFFF" />
                  </svg>
                  <svg width="12.97" hight="12.43" viewBox="0 0 12.97 12.43">
                    <path class="p_3" d="M 5.61 0.93, 4.54 4.22, 1.08 4.22
                            C 0.11 4.22 -0.29 5.46 0.49 6.03
                            L 3.29 8.06 2.22 11.35
                            C 1.92 12.28 2.98 13.04 3.76 12.47
                            L 6.56 10.44 9.36 12.47
                            C 10.14 13.04 11.2 12.28 10.9 11.35
                            L 9.83 8.06 12.63 6.03
                            C 13.41 5.46 13.01 4.22 12.04 4.22
                            L 8.58 4.22 7.51 0.93
                            C 7.21 0.01 5.91 0.01 5.61 0.93 Z" fill="#FFFFFF" />
                  </svg>
                  <svg width="12.97" hight="12.43" viewBox="0 0 12.97 12.43">
                    <path class="p_4" d="M 5.61 0.93, 4.54 4.22, 1.08 4.22
                            C 0.11 4.22 -0.29 5.46 0.49 6.03
                            L 3.29 8.06 2.22 11.35
                            C 1.92 12.28 2.98 13.04 3.76 12.47
                            L 6.56 10.44 9.36 12.47
                            C 10.14 13.04 11.2 12.28 10.9 11.35
                            L 9.83 8.06 12.63 6.03
                            C 13.41 5.46 13.01 4.22 12.04 4.22
                            L 8.58 4.22 7.51 0.93
                            C 7.21 0.01 5.91 0.01 5.61 0.93 Z" fill="#FFFFFF" />
                  </svg>
                  <svg width="12.97" hight="12.43" viewBox="0 0 12.97 12.43">
                    <path class="p_5" d="M 5.61 0.93, 4.54 4.22, 1.08 4.22
                            C 0.11 4.22 -0.29 5.46 0.49 6.03
                            L 3.29 8.06 2.22 11.35
                            C 1.92 12.28 2.98 13.04 3.76 12.47
                            L 6.56 10.44 9.36 12.47
                            C 10.14 13.04 11.2 12.28 10.9 11.35
                            L 9.83 8.06 12.63 6.03
                            C 13.41 5.46 13.01 4.22 12.04 4.22
                            L 8.58 4.22 7.51 0.93
                            C 7.21 0.01 5.91 0.01 5.61 0.93 Z" fill="#FFFFFF" />
                  </svg>
              </div>
          </div>
          <div class="footer__additionaly2 footer__div">
              <p class="text">Copyright © 2018 Dlk • Design Life Kids</p>
          </div>
          <div class="footer__additionaly3 footer__div">
              <a href="#" class="Ablack">Web Design — Direct Line Development</a>
          </div>
      </div>
  </div>
</footer>