<footer class="footer">
  <div>
      <div class="footerList container">
          <div class="footerdivWidth">
              <p class="fonts footerTitleBorder">Navigation</p>
              <ul class="undotted footerText">
                  <li class="footerOpacity">
                      <a href="#">About Us</a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">Blog</a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">Design Services</a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">Featured On</a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">2018 Holiday Catalog</a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">Shop By Designer</a>
                  </li>
              </ul>
          </div> 
          <div class="footerdivWidth">
              <p class="fonts footerTitleBorder">Customer Information</p>
              <ul class="undotted footerText">
                  <li class="footerOpacity">
                      <a href="#">Contact Us</a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">Sale Exclusions</a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">Shipping & Returns</a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">Terms & Conditions</a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">Privacy Policy</a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">Search</a>
                  </li>
              </ul>
          </div>
          <div class="footerdivWidth">
              <p class="fonts footerTitleBorder">Connect</p>
              <div class="footerText">
                  <form action="#" class="footerForm">
                      <div>
                          <div>
                              <label class="">
                                  <span class="EmailSpan">Email</span>
                                  <input type="text" class="EmailInput" placeholder="Email">
                              </label>
                          </div>
                      </div>
                      <div>
                          <button class="button emailButton" type="submit">Join</button>
                      </div>
                  </form> 
              </div>
              <ul class="undotted footerSochil">
                  <li class="footerOpacity">
                      <a href="#">
                          <img src="img/socil/facebook.svg" alt="" width="30" height="30">
                      </a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">
                          <img src="img/socil/twitter.svg" alt="" width="30" height="30">
                      </a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">
                          <img src="img/socil/pinterest.svg" alt="" width="30" height="30">
                      </a>
                  </li>
                  <li class="footerOpacity">
                      <a href="#">
                          <img src="img/socil/instagram.svg" alt="" width="30" height="30">
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="footerList2 container">
          <div class="additionaly1 footerdivWidth wight">
              <p class="text">Company Rating</p>
              <img src="img/group.png" alt="" width="97" height="16">
          </div>
          <div class="additionaly2 footerdivWidth">
              <p class="text">Copyright © 2018 Dlk • Design Life Kids</p>
          </div>
          <div class="additionaly3 footerdivWidth">
              <a href="#" class="Ablack">Web Design — Direct Line Development</a>
          </div>
      </div>
  </div>
</footer>