<footer class="footer">
  <div>
      <div class="footer__list container">
          <div class="footer__div">
              <p class="footer__p footer__p_border">Navigation</p>
              <ul class="undotted footer__text">
                  <li class="footer_opacity">
                      <a href="#">About Us</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Blog</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Design Services</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Featured On</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">2018 Holiday Catalog</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Shop By Designer</a>
                  </li>
              </ul>
          </div> 
          <div class="footer__div">
              <p class="footer__p footer__p_border">Customer Information</p>
              <ul class="undotted footer__text footer__text_top">
                  <li class="footer_opacity">
                      <a href="#">Contact Us</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Sale Exclusions</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Shipping & Returns</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Terms & Conditions</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Privacy Policy</a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">Search</a>
                  </li>
              </ul>
          </div>
          <div class="footer__div">
              <p class="footer__p footer__p_border">Connect</p>
              <div class="footer__email">
                  <form action="#" class="footer__form">
                      <div>
                          <div>
                              <label class="">
                                  <span class="email__span">Email</span>
                                  <input type="text" class="Email__input" placeholder="Email">
                              </label>
                          </div>
                      </div>
                      <div>
                          <button class="button button_email" type="submit">Join</button>
                      </div>
                  </form> 
              </div>
              <ul class="undotted footer__sochil">
                  <li class="footer_opacity">
                      <a href="#">
                          <img src="img/socil/facebook.svg" alt="Social networks of our store" width="30" height="30">
                      </a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">
                          <img src="img/socil/twitter.svg" alt="Social networks of our store" width="30" height="30">
                      </a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">
                          <img src="img/socil/pinterest.svg" alt="Social networks of our store" width="30" height="30">
                      </a>
                  </li>
                  <li class="footer_opacity">
                      <a href="#">
                          <img src="img/socil/instagram.svg" alt="Social networks of our store" width="30" height="30">
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="footer__list2 container">
          <div class="footer__additionaly1 footer__div wight">
              <p class="text">Company Rating</p>
              <form action="#" class="formstars form_margin">
                <div class="simple-rating">
                    <div class="simple-rating__items">
                        <input id="simple-rating__5" type="radio" class="simple-rating__item" name="simple-rating" value="5">
                        <label for="simple-rating__5" class="simple-rating__label"></label>
                        <input id="simple-rating__4" type="radio" class="simple-rating__item" name="simple-rating" value="4">
                        <label for="simple-rating__4" class="simple-rating__label"></label>
                        <input id="simple-rating__3" type="radio" class="simple-rating__item" name="simple-rating" value="3">
                        <label for="simple-rating__3" class="simple-rating__label"></label>
                        <input id="simple-rating__2" type="radio" class="simple-rating__item" name="simple-rating" value="2">
                        <label for="simple-rating__2" class="simple-rating__label"></label>
                        <input id="simple-rating__1" type="radio" class="simple-rating__item" name="simple-rating" value="1">
                        <label for="simple-rating__1" class="simple-rating__label"></label>
                    </div>
                </div>
              </form>
          </div>
          <div class="footer__additionaly2 footer__div">
              <p class="text">Copyright © 2018 Dlk • Design Life Kids</p>
          </div>
          <div class="footer__additionaly3 footer__div">
              <a href="#" class="Ablack">Web Design — Direct Line Development</a>
          </div>
      </div>
  </div>
</footer>