<form action="#" class="form @@class">
    <div>
        <label class="form_label">
            <span>Name</span>
            <input type="text" class="input_border" placeholder="Ivan Ivanov">
        </label>
    </div>
    <div class="phone">
        <div class="phone__div">
            <label class="form_label">
                <span>Phone</span>
                <input type="tel" class="input_border">
            </label>
        </div>
        <div>
            <label class="form_label">
                <span>Email</span>
                <input type="email" class="input_border">
            </label>
        </div>
    </div>

    <div>
        <label class="form_label">
            <span>Message</span>
            <textarea name="textarea" cols="30" rows="10" class="textarea input_border"></textarea>
        </label>
    </div>

    <fieldset class="fieldset" >
        <legend>Agreement</legend>
        <ul class="undotted">
            <li>
                <label>
                    <input type="checkbox" class="checkbox__input" checked>
                    <span class="checkbox__span">By clicking on the button, you consent to the processing of your personal data</span>
                </label>
            </li>
        </ul>
    </fieldset>

    <button type="submit" class="button">Submit</button>
</form>