<form action="#" class="contactform @@class">
    <div>
        <label class="labelWrapper">
            <span>Name</span>
            <input type="text" class="inputBorder" placeholder="Ivan Ivanov">
        </label>
    </div>
    <div class="labelColoms">
        <div class="labelColoms1">
            <label class="labelWrapper">
                <span>Phone</span>
                <input type="tel" class="inputBorder">
            </label>
        </div>
        <div>
            <label class="labelWrapper">
                <span>Email</span>
                <input type="email" class="inputBorder">
            </label>
        </div>
    </div>

    <div>
        <label class="labelWrapper">
            <span>Message</span>
            <textarea name="textarea" cols="30" rows="10" class="textarea inputBorder"></textarea>
        </label>
    </div>

    <fieldset class="fieldset" >
        <legend class="agreement">Agreement</legend>
        <ul class="undotted">
            <li>
                <label class="fieldset">
                    <input type="checkbox" class="checkboxInput" checked>
                    <span class="checkboxSpan">By clicking on the button, you consent to the processing of your personal data</span>
                </label>
            </li>
        </ul>
    </fieldset>

    <button type="submit" class="button">Submit</button>
</form>