<header class="header container">
    <span class="title_hidden">header__menu</span>
    <a href="/" class="header_opasity">
        <img src="img/union.svg" alt="" width="100" height="52">
    </a>
    <div class="humburger header_opasity">
        <p class="mobile-header__open">menu</p>
    </div>

    <nav>
        <ul class="header__menu undotted">
            <li class="header_opasity">
                <a href="catalog.html">Catalog</a>
            </li>
            <li class="header_opasity">
                <a href="#">About Us</a>
            </li>
            <li class="header_opasity">
                <a href="blog.html">Blog</a>
            </li>
            <li class="header_opasity">
                <a href="animation.html">Animation</a>
            </li>
            <li class="header_opasity">
                <a href="svg.html">SVG</a>
            </li>
        </ul>
    </nav>
    <a href="#" class="header_opasity">
        <img src="img/glass.png" alt="" width="17" height="17">
    </a>
    <a href="contact.html" class="header__contact header_opasity">Contact Us</a>
</header>

<div class="mobile-header">

    <div class="mobile-header__wrapper">
        <span class="title_hidden">header__menu</span>
        <div class="mobile-header__2">
            <a href="/" class="header_opasity mobile-header__logo">
                <img src="img/union.svg" alt="" width="100" height="52">
            </a>
            <svg class="mobile-header__close" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.707105 0L0 0.707105L7.07111 7.77821L4.6869e-05 14.8493L0.707151 15.5564L7.77821 8.48532L14.8492 15.5563L15.5563 14.8492L8.48532 7.77821L15.5563 0.707178L14.8492 7.33696e-05L7.77821 7.07111L0.707105 0Z" fill="#1E0606"/>
            </svg>
            <a href="#" class="header_opasity mobile-header__search">
                <img src="img/glass.png" alt="" width="17" height="17">
            </a>
        </div>     
    <nav>
        <ul class="mobile-header__menu undotted">
            <li class="header_opasity">
                <a href="catalog.html">Catalog</a>
            </li>
            <li class="header_opasity">
                <a href="#">About Us</a>
            </li>
            <li class="header_opasity">
                <a href="blog.html">Blog</a>
            </li>
            <li class="header_opasity">
                <a href="animation.html">Animation</a>
            </li>
            <li class="header_opasity">
                <a href="svg.html">SVG</a>
            </li>
        </ul>
    </nav>
    <a href="contact.html" class="mobile-header__contact header_opasity">Contact Us</a>
    </div>
</div>