<header class="header container">
    <span class="hiddenTitle">Menu</span>
    <a href="/" class="headerOpasity">
        <img src="img/union.svg" alt="" width="100" height="52">
    </a>
    <nav>
        <ul class="menu undotted">
            <li class="headerOpasity">
                <a href="blog.html">Blog</a>
            </li>
            <li class="headerOpasity">
                <a href="catalog.html">Catalog</a>
            </li>
            <li class="headerOpasity">
                <a href="#">About Us</a>
            </li>
        </ul>
    </nav>
    <a href="#" class="headerOpasity">
        <img src="img/glass.png" alt="" width="17" height="17">
    </a>
    <a href="contact.html" class="headerContact headerOpasity">Contact Us</a>
</header>