<header class="header container">
    <span class="title_hidden">header__menu</span>
    <a href="/" class="header_opasity">
        <img src="img/union.svg" alt="" width="100" height="52">
    </a>
    <nav>
        <ul class="header__menu undotted">
            <li class="header_opasity">
                <a href="catalog.html">Catalog</a>
            </li>
            <li class="header_opasity">
                <a href="#">About Us</a>
            </li>
            <li class="header_opasity">
                <a href="blog.html">Blog</a>
            </li>
            <li class="header_opasity">
                <a href="animation.html">Animation</a>
            </li>
        </ul>
    </nav>
    <a href="#" class="header_opasity">
        <img src="img/glass.png" alt="" width="17" height="17">
    </a>
    <a href="contact.html" class="header__contact header_opasity">Contact Us</a>
</header>